{% extends 'base.html' %}

{% block title %} Delete - {{ resident }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Delete - {{ student }}</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center"> Are you sure to delete {{ resident.first_name }} {{ resident.last_name }}?</h5>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-danger">Yes</button>
                            <a href="{% url 'list-of-residents' %}" class="btn btn-outline-secondary">No</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}