<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .edit_a{
            background-color: darkred;
            color:white!important;
            text-align: center;
            text-decoration: none;
            padding: 14px 25px;
        }
    </style>
</head>
<body>
<div>
    <h2>Hello, {{ fullname }}</h2>
    <h4>Congratulations! Your account has been created!</h4>
    <br>
    <h4>Your username account is: {{ username }}</h4>

    <a class="edit_a" href="http://127.0.0.1:8000/login">Go to login</a>
    <a class="edit_a" href="{{ url }}">Validate</a>
</div>
</body>
</html>