<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">ProAdministrator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <!-- Residents Dropdown -->
                    {% if perms.residents.add_resident or perms.residents.view_resident %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Residents
                            </a>
                            <ul class="dropdown-menu">
                                {% if perms.residents.add_resident %}
                                    <li><a class="dropdown-item" href="{% url 'resident_add' %}">Add New Resident</a></li>
                                {% endif %}
                                {% if perms.residents.view_resident %}
                                    <li><a class="dropdown-item" href="{% url 'resident-list' %}">List of Residents</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    <!-- Administrators Dropdown -->
                    {% if perms.management.add_administrator or perms.management.view_administrator %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Administrators
                            </a>
                            <ul class="dropdown-menu">
                                {% if perms.management.add_administrator %}
                                    <li><a class="dropdown-item" href="{% url 'create-administrator' %}">Create Administrator</a></li>
                                {% endif %}
                                {% if perms.management.view_administrator %}
                                    <li><a class="dropdown-item" href="{% url 'list-of-administrators' %}">List Administrators</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <div>
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" style="margin-right:10px" type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            {{ user.email }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-success">Login</a>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
                <form method="get" class="d-flex" role="search" action="{% url 'search' %}">
                    <input class="form-control me-2" type="search" name="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>